
    <div class="right-payroll right-emp-dash">
        <div class="admin-rightdash-top">
            <h1 style="color: var(--green-m)">Hello!</h1>
        </div>
    <div class="ad-dash-spacer"></div>
        <div class="admin-rightdash-mid">
            <button type="button" class="ad-rightdash-btn">
                <i class="fi fi-rr-calendar-clock"></i>
                <p><a style="color: var(--green-m)" href="/employee_clockpage">Time Log</a></p>
            </button>
            <button type="button" class="ad-rightdash-btn">
                <i class="fi fi-rr-employee-man"></i>
                <p><a style="color: var(--green-m)" href="/employee_dashboard">Employee Dashboard</a></p>
            </button>
            <button type="button" class="ad-rightdash-btn">
                <i class="fi fi-rr-tax"></i>
                <p><a style="color: var(--green-m)" href="/employee_dashboard">Tax Deductions</a></p>
            </button>
        </div>
        <div class="admin-rightdash-bottom">
            <br><br><br>
            <h2><a href="/logout">Log-Out</a></h2>   
        </div>
    </div>
