<!DOCTYPE html>
<html lang="en">
<head>
    <title>Employee Salary Particulars</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="css/images/greenatwork-logo.png">
    <script src="js/script.js"></script>
</head>
<body style="background-color: var(--background);">
    <div class="parent-div" style="width: 90%; margin:0">
        <div class="page-title">
            <h2>Salary Particulars</h2>
        </div>
        <div class="left-payroll salary-container" style="width: 100%; height: 88%; margin: 0; padding:0; position:absolute; top: 12%;">
            <div class="salary-par-date"> Date: July _ - July _ , 2024 </div>
            <div class="salary-par-box">
                 <table class="salary-pars-table">
                    <tr>
                        <td>&nbsp;</td>
                        <th>Hours</th>
                        <th>Amount</th>
                    </tr>
                    <tr>
                        <td style="text-align: left;">Basic Pay @   :</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">Overtime Rate @  /hr:</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">Holiday/s   %:</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;">Deductions</th>
                    </tr>
                    <tr>
                        <td style="text-align: left;">PAGIBIG Contribution:</td>
                        <td>&nbsp;</td>
                        <td>--</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">PHILHEALTH:</td>
                        <td>&nbsp;</td>
                        <td>--</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">SSS:</td>
                        <td>&nbsp;</td>
                        <td>--</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">Cash-Advance:</td>
                        <td>&nbsp;</td>
                        <td>--</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <th>NET PAY:</td>
                        <th>₱0000.00</td>
                    </tr>
                 </table>
            </div>
            <div class="printBtn">
                <button>Print</button>
            </div>
        </div>
        
    </div>

    {{> empsidenav}}
</body>
</html>