/* 
Functions:
Design style for the elements of the page
*/

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
:root{
    --green-l: #e1f8de;
    --green-m: #86B745;
    --green-d: #53643F;
    --white-m: #F7F7F7;
    --darkgray-m: #262827;
    --white-hov: #E1DFDF;
    --gray: #3A3D3C;
    --lightgray: #5F5F5E;
    --lightergray: #ACACAA;
    --green-success: #2A9349;
    --red-error: #FF0033;
    --background: #04701C;
}

body{
    background-color: var(--white-m);
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: 'Archivo', sans-serif;
}
.parent-div{
    width: 100%; 
    position: relative;
}
.left-emp-dash{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mid-emp-dash{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 10vw;
    height: 10vw;
}

.date-time-log{
    color: var(--darkgray-m);
}

.date-time-log h1{
    font-size: 8vw;
    margin-top: 20px;
    margin-bottom: 0;
}
.date-time-log p{
    font-size: 1.5vw;
    font-weight: 600;
    text-align: center;
}
.log-buttons{
    font-size: 20vh;
    color: var(--green-m);
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
}
.log-buttons button{
    font-size: 20vh;
    color: var(--green-m);
    width: 45%;
    padding: 5%;
    border-radius: 20px;
    border: 0;
    background-color: var(--white-m);
    font-family: 'Archivo', sans-serif;
}
.log-buttons button:hover{
    background-color: var(--white-hov);
    cursor: pointer;
}
.log-buttons button:active{
    background-color: var(--gray);
    cursor: pointer;
    p{
        color: white;
    }
}
.log-buttons button:disabled{
    pointer-events: none;
}
.log-buttons p{
    color: var(--lightgray);
    font-size: 1vw;
    font-size: 1.5vw;
    font-weight: 600;
    text-align: center;
    margin: 0;
}
.right-emp-dash{
    width: 20vw;
    height: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--darkgray-m);
}
.right-emp-dash h1{
    color: var(--white-m);
    font-size: 5vh;
    margin: 8vh 0 12vh 0;
}
.right-emp-dash button{
    color: var(--green-m);
    display: flex;
    align-items: center;
    padding:2vh 1vw 1vh 0vw;
    border-radius: 50px;
    border: 0;
    background-color: var(--darkgray-m);
    width: 70%;
    margin-bottom: 5%;
    font-family: 'Archivo', sans-serif;
}
.right-emp-dash button:hover{
    background-color: var(--gray);
    cursor: pointer;
}
.right-emp-dash button:active{
    background-color: var(--lightgray);
}
.right-emp-dash i{
    font-size: 5vh;
    justify-self: self-start;
}
.right-emp-dash p{
    font-size: 2.5vh;
    font-weight: 600;
    margin: 0 3vw 1vh 3vw;
    justify-self: center;
}
.right-emp-dash h2{
    color: var(--white-m);
    margin-top: 85%;
}
.right-emp-dash h2:hover{
    color: var(--lightergray);
    cursor: pointer;
}
.right-emp-dash h2:active{
    color: var(--lightgray);
    cursor: pointer;
}
.left-payroll{
    width: 95%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
}
.right-payroll{
    width: 20vw;
    height: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--darkgray-m);
}
.left-payroll-top{
    display: flex;
    flex-direction: row;
    height: 15vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw 0 2vw;
}
.left-payroll-top h1{
    color: var(--green-m);
    margin-bottom: 0;
}
.left-payroll-mid{
    align-self: center;
    height: 40vh;
    width: 90%;
    border-radius: 20px;
    margin-top: 2vh;
    background-color: var(--white-hov);
    padding: 20px 30px 20px 10px;
}
.left-payroll-mid table{
    width: 100%;
    height: 100%;
    margin-left: 10px;
    border-spacing: 0px;
}
.left-payroll-mid tr:first-child {
    padding: 5px;
    text-align: center;
}
.left-payroll-mid th:first-child{
    padding: 5px;
    text-align: left;
}
.left-payroll-mid td{
    padding: 5px;
    text-align: center;
}
.right-payroll h1{
    font-size: 1.5vw; 
    margin: 10vh 0 5vh 0;
}
.right-payroll h2{
    margin-top: 10vh;
}
.log-btn-payroll{
    margin-top: 8vh;
}
.log-btn-payroll i{
    font-size: 10vh;
}
.left-payroll-btm{
    padding: 0.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 95%;
}
.btm-payroll{
    height: 27vh;
    border-radius: 20px;
    margin-top: 2vh;
    background-color: var(--white-hov);
    padding: 20px 30px 20px 10px;
}
.pie{
    width: 25%;
}
.pay-per{
    width: 35%;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-top: 2%;
}
.pay-per-num{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    font-size: 2.5vh;
}
.pay-per h2{
    font-size: 2.2vh;
    margin-top: 5vh;
    margin-bottom: 0;
}
.pay-per p{
    margin: 0;
}
.total-wkly-pay{
    padding-top: 2vw;
    align-self: center;
    color: var(--green-success);
}
.weekly-total{
    width: 25%;
}
.weekly-total h1{
    margin-top: 0;
    text-align: center;
    color: var(--green-m);
}
.weekly-total table{
    width: 100%;
    font-size: 2.5vh;
    margin-left: 0.5vw;
}
.weekly-total td{
    padding-bottom: 1vh;
}
.weekly-total h2{
    margin-left: 0.5vw;
}
.pie-chart {
    margin-left: 4vw;
    position: relative;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    background: conic-gradient(
        #ff6f61 0% 10%,
        #ffd166 10% 30%,
        #06d6a0 30% 60%,
        #06c1d6 40% 100%
    );
}

.slice {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 50%, 100% 50%, 100% 50%);
    transform-origin: 100% 50%;
}

.login-left{
    width: 30vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.login-left img{
    align-self: center;
    width: 70%;
    height: auto;
}
.login-right{
    width: 70vw;
    height: 100vh;
    background-color: var(--darkgray-m);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.login-right h1{
    color: var(--white-m);
    font-size: 6vh;
    margin: 15vh 15vw 5vh 20vw;
}
.login-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-input div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    margin-bottom: 5vh;
    border: 3px solid var(--white-m);
    border-radius: 10px;
    padding: 5px;
}
.log-field i{
    font-size: 3vh;
    margin-left: 1vw;
    margin-right: 1vw;
}
.green-icon{
    color: var(--green-m);
}
.log-text{
    width: 25vw;
    background-color: var(--darkgray-m);
    outline: 0;
    border: 0;
    padding: 18px 15px;
    letter-spacing: 1px;
    color: var(--white-m);
    font-size: 3vh;
}
.log-text::placeholder{
    color: var(--white-m);
    font-family: 'Archivo', sans-serif;
    font-size: 3vh;
    letter-spacing: 1px;
}
.pw-icon{
    color: var(--lightergray);
}
.pw-icon:hover{
    cursor: pointer;
}
.login-right div{
    display: flex;
    justify-content: center;
    p{
        color: var(--green-m);
        text-align: center;
        margin-top: 0;
    }
    p:hover{
        color: var(--lightergray);
        cursor: pointer;
    }
    p:active{
        color: var(--lightgray);
        cursor: pointer;
    }
}
.login-right button{
    color: var(--white-m);
    display: flex;
    align-items: center;
    margin-top: 10vh;
    justify-content: center;
    border-radius: 50px;
    border: 0;
    background-color: var(--green-m);
    width: 10vw;
    font-family: 'Archivo', sans-serif;
}
.login-right button:hover{
    background-color: var(--lightgray);
    cursor: pointer;
}
.login-right button:active{
    background-color: var(--gray);
}
.admin-rightdash-top{
    color: white;
    text-align: center;
}
.admin-rightdash-top h1{
    font-size: 4vh;
    margin-top: 7vh;
    margin-bottom: 1vh;
}
.admin-rightdash-top p{
    font-weight: 400;
    font-size: 2vh;
    margin: 0;
}
.ad-dash-spacer{
    margin-bottom: 12vh;
}
.ad-rightdash-btn{
    align-self: center;
}
.ad-rightdash-btn i{
    padding-left: 2vw;
}
.ad-rightdash-btn p{
    text-align: center;
}
.admin-rightdash-mid{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.admin-rightdash-mid button{
    width: 90%;
}
/* changes */
.admin-rightdash-bottom h2 a {
    color: var(--green-m); /* Use the green color variable */
    font-family: 'Archivo', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none; /* Remove underline */
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.admin-rightdash-bottom h2 a:hover {
    background-color: var(--gray);
    cursor: pointer;
}
.admin-rightdash-bottom h2 a:active {
    background-color: var(--lightgray);
}
/* changes end here */
.admin-leftdash{
    margin: 0.5vh 0.5vw 0.5vh 0.5vw;
}
.admin-leftdash-top h2{
    color: var(--white-m);
}
.title-container{
    display: flex;
    flex-wrap: wrap;
}
.page-title{
    width: 40vh;
    height: 12vh;
    background-color: var(--green-m);
    text-align: center;
    align-content: center;
    margin-top:10px;
    border-radius: 15px;
    color:white;
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    margin-right: 20px;
    display: inline-block;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
.page-title:hover {
    background-color: var(--green-d); /* Slightly darker green on hover */
}
.page-title:active {
    background-color: var(--gray); /* Different color when active */
}
.title-wrapper{
    border: solid 1px black;
    display: flex; /* Use flexbox to align items */
    justify-content: center; /* Center buttons horizontally */
    align-items: center; /* Center buttons vertically */
}
.dropdown{
    display: flex;
    background-color: var(--green-l);
    width: 28%;
    height: 6vh;
    border-radius: 10px;
    justify-content: center;
}
.dropdown p, .dropdown label{
    margin: 1vw;
    align-self: center;

}
.dropdown select{
    justify-self: flex-end;
    width: 13vw;
    font-size: 2.2vh;
    background-color: var(--green-l);
    border-color: var(--green-l);
}
.dropdown input {
    background-color: var(--white-hov);
    border-width: 0;
    font-family: 'Archivo', sans-serif;
    margin-left: 3vw;
    color: var(--darkgray-m);
}
.admin-leftdash table{
    width: 100%;
    height: 100%;
    margin-top: 2vw;
    border-spacing: 0;
    font-size: smaller;
}
.admin-leftdash td{
    text-align: center;
    border: 1px solid var(--darkgray-m);
    padding: .5vh;
}
.admin-leftdash th{
    border: 1px solid var(--darkgray-m);
    background-color: var(--green-success);
    color: white;
}
.popup .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 2;
}
.popup .content{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 550px;
    height: 275px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
#popup-2 .content{
    height: 200px;
}
#popup-3 .content{
    height: 150px;
}
#popup-4 .content{
    height: 150px;
}
.popup .close-btn{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}
.popup.active .overlay{
    display: block;
}
.popup.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}
.otp-form{
    padding-bottom: 2%;
}
.otp-button button{
    align-items: center;
    height: 35px;
    font-size: 20px;
    color: var(--white-m);
    width: 40%;
    padding: 1%;
    border-radius: 20px;
    border: 0;
    background-color: var(--green-m);
    font-family: 'Archivo', sans-serif;
}
.otp-button button:hover{
    background-color: var(--lightgray);
    cursor: pointer;
}
.resend-otp{
    display: block;
    font-size: 10px;
    text-decoration: underline;
    padding-top: 10px;
}
.empman-header{
    display: flex;
    justify-content: space-between;
}
.dropdown-page select{
    font-family: 'Archivo', sans-serif;
    font-size: 20px;
    width: 250px;
}
.empman-midhead{
    display: flex;
    justify-content: space-between;
}
.num-input{
    display: flex;
    flex-direction: row;
    align-items: center; /* Center items vertically */
    box-sizing: border-box; /* Include padding and border in width */
}
.num-input p{
    margin: 0;
    margin-left: 2vw;    
}
.exportBtn{
    align-self: center;
    margin-bottom: 20px;
}
.exportBtn button{
    width: 250px;
    height: 30px;
    background-color: var(--green-d);
    color: var(--white-m);
    border-radius: 10px;
    border: none;
}
.empman-btm{
    display: flex;
    margin-top: 4vh;
    justify-content: space-between;
    width: 70%;
    padding: 13px;
}
.wklyAdditional{
    position: absolute; 
    top:70%; 
    left: 50%; 
    background-color: var(--green-l); 
    transform: translateX(-50%);
    border-radius: 30px;
}
.wklyAdditional-admin{
    background-color: var(--green-l); 
    border-radius: 30px;
    width:90%;
    padding: 0px 18px 3px 18px;
    align-self: center;
}
.num-input-1{
    display: flex;
    flex-direction: row;
    align-items: center; /* Center items vertically */
    justify-content: space-between;
    width: 100%;
    padding: 0px 18px 3px 18px;
}
.num-input-1 p{
    margin-bottom: 2vh;
    font-size: 2.5vh;
}
/* changes */
.num-input button,
.num-input-1 button {
    background-color: var(--green-m);
    color: white;
    cursor: pointer;
    margin-left: 10px; /* Space between input and button */
}

.num-input button:hover,
.num-input-1 button:hover {
    background-color: var(--green-d);
}

.num-input button:active,
.num-input-1 button:active {
    background-color: var(--gray);
}
/* changes ends here */
.empman-btm h1{
    color: var(--green-m);
    margin-top: 5vh;
}
.empman-btm h3{
    margin-top: 5vh;
}
.attrec-table{
    height: 60vh;
}
.log-table{
    margin-top: 10px;
    height: 70vh;
    overflow-y: auto;
}
.log-table table{
    margin-top: 0;
}
.log-table td{
    padding: 3vh 3vh 3vh 3vh;
}
.log-table thead th {
    position: sticky; 
    top: 0;
    margin: 0;
    padding: 3vh 3vh 3vh 3vh;
    background-color: var(--white-m);
}
.container{
    width: 94%;
    height: 100%;
    background-color: var(--white-m);
    padding: 5vh 5vh 0 5vh;
    z-index: 1;
}
.emp-info{
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 5vh 5vh 5vh 5vh;
    margin-left: 0;
    font-size: 2.5vh;
    background-color: var(--green-l);
    border-radius: 15px;
    border: 1px var(--green-d) solid;
}
.emp-info div{
    width: 100%;
}
/* changes */

.emp-info input,
.emp-info select{
    font-family: 'Archivo', sans-serif;
    background-color: var(--white-m);
    width: calc(100% - 40px);
    max-width: 500px; /* Set a consistent max-width */
    font-size: 2vh;
    border: 1px solid;
    border-radius: 5px;
    padding: 1vh; /* Increased padding for better UI */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    margin-top: 5px; /* Adds space between input fields */
}
/* changes end here */
.ad-left-btn{
    display: flex;
    width: 100%;
    margin-top: 1vh;
    justify-content: center;
    align-items: flex-end;
}
.ad-leftdash-btn{
    border: 0;
    background-color: var(--green-m);
    font-family: 'Archivo', sans-serif;
    border-radius: 50px;
    padding: 1vh;
    font-weight: 600;
    font-size: 2vh;
    color: var(--white-m);
    padding: 1vh 2vw 1vh 2vw;
}
.ad-leftdash-btn:hover{
    cursor: pointer;
    background-color: var(--gray);
}
.ad-leftdash-btn:active{
    cursor: pointer;
    background-color: var(--lightgray);
}
.role-dropdown{
    font-family: 'Archivo', sans-serif;
    border-radius: 10px;
    padding: .5vh;
    font-size: 2vh;
}
.search-bar {
    position: relative;
    width: 50%;
    margin-top: 5vh;
    margin-left: 18vw;
}
.search-bar input {
    font-family: 'Archivo', sans-serif;
    background-color: var(--white-m);
    width: 100%;
    font-size: 2vh;
    border: 2px solid;
    border-color: var(--darkgray-m);
    border-radius: 10px;
    padding: 1vh;
    padding-right: 0;
}
.search-bar button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    background-color: var(--white-m);
    border: 0;
}
.search-bar button:hover {
    cursor: pointer;
}
.search-bar i{
    color: var(--green-m);
    font-size: 2vh;
}
.status-on{
    text-transform: uppercase;
    color: #2A9349;
}
.status-off{
    text-transform: uppercase;
    color: #FF0033;
}
.sel-week{
    width: 23vw;
}

.salary-container {
    display: flex;
    flex-direction: column;
}
.salary-par-date {
    margin-top: 12px;
    margin-left: 10%;
}
.salary-par-box {
    width: 80%;
    height: 70%;
    background-color: #E9F6E7;
    border-radius: 6%;
    border-width: 2px;
    border-style: solid;
    border-color: #7CA84A;
    margin: auto;
    display: flex;
}

.salary-pars-table {
    align-items: center;
    width: 100%;
    margin-left: 10px;

}
.salary-pars-table th, td{
     text-align: center;
}
.printBtn {
    display: flex;
    margin: auto;
}
.printBtn button{
    align-items: center;
    background-color: #7CA84A;
    color: white;
    padding: 10px;
    width: 70px;
    border-radius: 30%;
    border-color: #7CA84A;
    border-style: solid;
}

/*pop up window*/
/* Add this CSS to your stylesheet */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    border: 1px solid #86B745; /* Add border color */
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
}

.close-button {
    align-self: flex-end;
    cursor: pointer;
    font-size: 24px;
    color: #aaa;
}

.close-button:hover {
    color: #000;
}

.modal p {
    font-size: 28px; /* Increase font size */
    font-weight: bold; /* Make text bold */
    color: #333; /* Darken the text color */
    margin: 5px 0 0 0; /* Adjust margin to move text upwards */
    padding: 5px 0; /* Adjust padding to balance the positioning */
}

.modal-content {
    text-align: center; /* Center the text */
}


/*print pop uppp*/
@media print {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        color: #000;
    }

    .salary-container {
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    p {
        margin: 5px 0;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        text-align: left;
        padding: 8px;
        border: 1px solid #ccc;
    }

    th {
        background-color: #f2f2f2;
    }

    /* Hide non-printable elements */
    .printBtn,
    .modal {
        display: none;
    }
}
